@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>人事管理系统</h1>
    <p class="lead">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;让企业更加简单化管理员工...</p>
    <p><a href="~/Home/About" class="btn btn-primary btn-lg">关 于 &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        
        <div style="text-align:center;">
            <img alt="无法找到图片路径" src="~/icon/index_icon1.png" style="width:auto;height:130px;"/>
        </div>
    </div>
    <div class="col-md-4">
        
        <div style="text-align:center;">
            <img alt="无法找到图片路径" src="~/icon/index_icon2.png" style="width:auto;height:130px;"/>
        </div>
    </div>
    <div class="col-md-4">
        
        <div style="text-align:center;">
            <img alt="无法找到图片路径" src="~/icon/index_icon3.png" style="width:auto;height:130px;" />
        </div>
    </div>
</div>