<link rel="stylesheet" href="~/Scripts/layui/css/layui.css" />
<script type="text/javascript" src="~/Scripts/layui/layui.js"></script>
<script type="text/javascript" src="~/Scripts/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>

<blockquote class="layui-elem-quote">
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">部门名称：</label>
            <div class="layui-inline">
                <input type="text" lay-verify="required" id="dname" name="dname" class="layui-input" />
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">部门描述：</label>
            <div class="layui-inline">
                <input type="text" lay-verify="required" id="ddesc" name="ddesc" class="layui-input" />
            </div>
        </div>

    </div>
   
</blockquote>
