@{
    ViewBag.Title = "部门管理";
}
<h2>@ViewBag.Title</h2>

<div style="position: fixed;top:150px; left: auto; right: auto;  bottom: auto; ">
    <table id="tbList" border="2" width="500px" height="130px" cellspacing="0">
        <tr style="font-size:25px" align="center">
            <td>部门名称</td>
            <td>部门 描述</td>
            <td>操作</td>
        </tr>
        <!--遍历 Action方法 设置给 ViewData 的集合数据，生成HTML代码-->
        @foreach (var e in ViewBag.Data)
        {
            <tr style="font-size:17px" align="center">
                <td>@e.Dname</td>
                <td>@e.Ddesc</td>
                <td>
                    <a href="javascript:void(0)">编辑</a>&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="javascript:void(0)">删除</a>
                </td>

            </tr>
        }
    </table>
</div>
