@{
    ViewBag.Title = "修改密码";
}
<h2>@ViewBag.Title</h2>

<script>
    $(function () {

        layui.use(['layer', 'form', 'table'], function () {
            var layer = layui.layer,
                $ = layui.jquery,
                form = layui.form,
                table = layui.table,
                t;
        });

        $("#reset").click(function () {
            $("#password").val("");
            $("#newPassword").val("");
        });


        $("#update").click(function () {
            var password = $("#password").val();
            var newPassword = $("#newPassword").val();
            if (password == null || !(password.length > 0)) {
                layer.msg("请输入原密码", {
                    time: 1500,
                });
            } else if (newPassword == null || !(newPassword.length > 0)) {
                layer.msg("请输入新密码", {
                    time: 1500,
                });
            } else {
                $.ajax({
                    url: '/Emp/doUpdateEmpPassword?password=' + password + "&newPassword=" + newPassword,
                    type: 'post',
                    dataType: 'json',
                    async: false,
                    success: function (result) {
                        if (result == "success") {
                            layer.msg("密码修改成功", {
                                time: 1500,
                            });
                            $("#password").val("");
                            $("#newPassword").val("");
                        } else {
                            layer.msg(result, {
                                time: 1500,
                            });
                        }
                    },
                    error: function () {
                        layer.msg("发生不知名错误，请联系管理员！", {
                            time: 2000,
                        });
                    }

                });
            }
        });
    });
   
</script>
<form id="queryEmpFrom">
    <div style="position:absolute; left:38%; top:36%;">
        <font size="4">原&nbsp; 密 &nbsp;码：</font><input type="password" id="password" name="password" style="width:170px;" /><br /><br />
        <font size="4">新&nbsp; 密&nbsp; 码：</font><input type="password" id="newPassword" name="newPassword" style="width:170px;" /><br /><br />
        <div style="left:35%; position:relative;">
            <input type="button" value="保存" class="btn-primary" id="update" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="button" value="重置" class="btn-default" id="reset" />
        </div>
    </div>
</form>
